language: python
python:
  - "3.6"      # current default Python on Travis CI
  - "3.7"
  - "3.8"
os:
  - linux
# command to install dependencies
install:
  - pip install -r requirements.txt
  - pip install --upgrade pytest 
  - pip install pylint==2.5.3

# command to run tests
script:
  - python -m pytest tests/
  - pylint --fail-under=8 dsm/
