language: python
python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"      # current default Python on Travis CI
  - "3.7"
  - "3.8"
os:
  - linux
  - osx
# command to install dependencies
install:
  - pip install -r requirements.txt
# command to run tests
script:
  - tests/test_dsm.py
  - pylint dsm/
